<% @cats = Contractor.categories %>
<div class="authform_large">
  <%= simple_form_for resource, as: resource_name, 
                               url: registration_path(resource),
                           wrapper: :vertical_form, 
                              html: { multipart: true, 
                                   autocomplete: 'off' },
                  wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes,
                                             file: :horizontal_file_input } do |f| %>
    
    <h3>Profile</h3>
    <%= f.error_notification %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
       <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

  <div class="row">
    <div class="form-inputs col-md-6 col-sm-6">
        <%= f.input :name %>
        <%= f.input :company_name, placeholder: 'Enter your company name' if contractor_signed_in? %>
        <%= f.input :email, input_html: { id: 'current_email' } %>
        <%= f.input :phone, as: :string,
                   placeholder: 'Enter a valid full phone number',
                    input_html: { value: resource.try(:phone) ? 
                                          resource.phone.phony_formatted(normalize: :US, 
                                                                            format: :international,
                                                                            spaces: '-') : '' } %>
        <%= f.input :address, placeholder: 'Enter your address' %>
        <%= f.input :city, placeholder: 'Enter your city' %>
        <ul class="list-inline text-center">
          <li>
            <%= f.select :state, options_for_select(us_states, resource.try(:state)), include_blank: 'Select a State' %>
          </li>
          <li>
            <%= f.input :zip_code, as: :string,
                             
                           input_html: { min_max: 5, 
                                              id: 'form_zip_code' }, 
                         wrapper_html: { id: 'label_zip_code' } %>
          </li>
        </ul>

        <%= f.input :search_radius, input_html: { style: 'width:100px', max: 3 } if contractor_signed_in? %>

        <%= f.input :description, as: :text, 
                               label: 'Company Description',
                         placeholder: 'Enter brief description about your services',
                          input_html: { rows: '7', 
                                   maxlength: 500 } if contractor_signed_in? %>
        
    </div>

    <div class="form-inputs col-md-6 col-sm-6">
      <%= render 'layouts/category_select', f: f %>
    </div>

    <div class="form-inputs col-md-6 col-sm-6">
        <%= f.input :password, label: 'New Password (optional)', 
                        autocomplete: 'off', 
                         placeholder: 'Enter new password',
                          input_html: { id: 'new_password', autocomplete: 'off' } %>
        <%= f.input :password_confirmation, label: 'New password confirmation',
                                       input_html: { autocomplete: 'off' },  
                                     wrapper_html: { style: 'display: none', 
                                                        id: 'new_password_confirmation'}  %>
        <%= f.input :current_password, placeholder: 'Enter current password to confirm updates', 
                                        input_html: { autocomplete: 'off' },
                                      wrapper_html: { style: 'display: none', 
                                                         id: 'current_password'} %>
    </div>

    <div class="row">
      <div class="form-inputs col-xs-12">
        <h4 class="text-center hidden text-danger" id="category_warning">
          Please pick 1-4 categories of interest
        </h4>
        <%= f.button :submit, 'Update Profile', class: 'user_submit' %>
      </div>
    </div>   
    <% end %>
  </div>
</div>

<div class="row">
  <div class="form-actions-submit">
    <%= link_to 'Back', current_user, class: 'submit' %>
  </div>
</div>