<% @cats = Contractor.categories %>
<div class="authform_large">
  <%= simple_form_for resource, as: resource_name, 
                               url: registration_path(resource),
  wrapper: :vertical_form,
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    file: :horizontal_file_input
  } do |f| %>
    
    <h3>Profile</h3>
    <%= f.error_notification %>
     <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

  <div class="row">
    <div class="form-inputs col-md-6 col-sm-6">
        <%= f.input :name, required: true, 
                        placeholder: 'Required' %>
        <%= f.input :email, required: true, 
                         placeholder: 'Required', 
                          input_html: { id: 'current_email' } %>
        <%= f.input :phone, placeholder: 'Enter a valid full phone number' %>
        <% if user_signed_in? %> 
          <%= f.input :zip_code, placeholder: 'Enter a valid zip code' %> 
          <p class="text-center lead">Select categories of interest</p>
          <% @cats.in_groups_of((@cats.size/2.0).ceil, false).each do |cats| %>
            <ul class="list-unstyled col-xs-6">
              <li>
                <%= f.input :categories, as: :check_boxes, 
                                  label: false,
                             collection: cats %>
              </li>
            </ul> 
          <% end %>
        <% end %>
          

        <%  if contractor_signed_in? %>
          <%= f.input :company_name, placeholder: 'Enter your company name' %>
          <%= f.input :zip_code, placeholder: 'Enter a valid zip code for your company' %>
          <%= f.input :address, placeholder: 'Enter your company address' %>
          <%= f.input :city, placeholder: 'Enter your company city' %>
        <%= f.input :bio, as: :text, 
                       label: 'Biography',
                 placeholder: 'Enter brief description about your services',
                  input_html: { rows: '7' } %>
        <% end %>
    </div>

    <div class="form-inputs col-md-6 col-sm-6">
      <%  if contractor_signed_in? %>   
        <% @cats.in_groups_of((@cats.size/2.0).ceil, false).each do |cats| %>
          <ul class="list-unstyled col-xs-6">
            <li>
              <%= f.input :categories, as: :check_boxes, 
                                label: false,
                           collection: cats if contractor_signed_in? %>
            </li>
          </ul> 
        <% end %>
      <% end %>

      <div class="text-center">
          <%= image_tag(resource.image.url(:original)).html_safe %>
          <p>Upload a profile image or icon</p>
          <br><br>
        <% if resource.image? %>
          <%= f.input :delete_image, as: :boolean, 
                                  label: false, 
                           inline_label: 'Delete image' %><br>
        <% end %>

        <%= f.file_field :image %>
        <h4>or</h4>
        <%= f.input :image_remote_url, label: 'Paste an image URL' %>
      </div>

      <%= f.input :password, label: 'New Password (optional)', 
                      autocomplete: 'off', 
                       placeholder: 'Enter new password', 
                          required: false, 
                        input_html: { id: 'new_password' } %>
      <%= f.input :password_confirmation, label: 'New password confirmation', 
                                       required: false,                                    
                                   wrapper_html: { style: 'display: none', 
                                                      id: 'new_password_confirmation'}  %>
      <%= f.input :current_password, placeholder: 'Enter current password to confirm updates', 
                                    wrapper_html: { style: 'display: none', 
                                                       id: 'current_password'} %>
    </div>
  </div>

  <div class="row center-block">
    <div class="form-actions-submit">
      <%= f.button :submit, 'Update Profile', class: 'user_submit' %>
    </div>
  </div>   
  <% end %>
  <div class="row">
    <div class="form-actions-submit">
      <%= link_to 'Back', resource, class: 'btn-sm submit' %>
    </div>
  </div>
</div>