<div class="panel panel-default" id="<%= comment.id %>">
  <div class="panel-heading">
    <h3 class="panel-title">
      <p>
        <% if current_user == comment.user %>
          <%= link_to comment, method: :delete,
                     remote: true, 
                       data: { confirm: 'Are you sure you want to delete this post?' } do %>
            <%= fa_icon 'minus-square 2x', title: 'Delete',
                                           class: 'delete-comment-post pull-right' %>
          <% end %>
          <%= link_to edit_comment_path(comment) do %>
            <%= fa_icon 'edit 2x', title: 'Edit', class: 'pull-right' %>
          <% end %>
        <% elsif contractor_signed_in? && (request.fullpath).include?('/contractors') %>
          <%= link_to comment_path(comment), class: 'hidden-xs hidden-sm btn btn-primary pull-right' do %>
            View Details
          <% end %>
        <% end %>
      </p>
    </h3>
  </div>  
    <div class="panel-body">    
      <div class="col-xs-12 col-md-4 text-center">
        <% if comment.commentable.uploads.count > 0 %>
          <%= render partial: 'layouts/pic', 
                  collection: comment.commentable.uploads.first, 
                          as: :upload, 
                      locals: { owner: job.user } %>
        <% end %>

        <hr class="visible-xs visible-sm">
      </div>
      <%= link_to comment, class: 'unstyled-link' do %>
      <div  class="col-xs-12 col-md-8">
        <p class="lead text-center">
          <strong>
            <%= comment.title %>
          </strong><br>

          <%= link_to "http://maps.google.com/?q=#{ comment.commentable.full_address }", 
                      class: 'google_links', 
                     target: "_blank" do %>
            <%= fa_icon 'external-link', title: 'View in Google Maps' %>
            View in Google Maps
          <% end %>
        </p>
        <hr>
        <%= (request.fullpath).include?('comments') ? 
                                comment.description : 
                                truncate(comment.description, length: 200) %>
      </div>                                  
    </div>

    <div class="panel-footer">
      <%= "Posted #{ time_ago_in_words(job.created_at) } ago" %> 
      <%= "| Approx. #{ current_contractor.distance_from(job).round(1) } miles away" if contractor_signed_in? %>
      <%= job_bid_duration(job) %>
    </div>
  <% end %>
</div>