<div class="panel panel-default" id="<%= comment.id %>">
  <div class="panel-heading">
    <h3 class="panel-title">
      <p class="lead text-center">
         
          <strong>
            <%= comment.subject %>
          </strong>        
        <% if (current_user || current_contractor) == comment.commenterable %>
          <%= link_to polymorphic_url([comment.commenterable, comment]), method: :delete,
                     remote: true, 
                       data: { confirm: 'Are you sure you want to delete this post?' } do %>
            <%= fa_icon 'minus-square lg', title: 'Delete',
                                           class: 'delete-comment-post pull-right' %>
          <% end %>
          <%= link_to edit_polymorphic_url([comment.commenterable, comment]) do %>
            <%= fa_icon 'edit lg', title: 'Edit', class: 'pull-right' %>
          <% end %>
        <% end %>
      </p>
    </h3>
  </div>  
    <div class="panel-body">
      <div  class="col-xs-12">
        <%= (request.fullpath).include?('comments') ? 
                                comment.body : 
                                truncate(comment.body, length: 200) %>
      </div>                                  
    </div>

    <div class="panel-footer">
      <%= "Sent #{ time_ago_in_words(comment.created_at) } ago by 
                #{ link_to comment.commenterable.fullname, comment.commenterable }" %>
    </div>
</div>