<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Sent at</th>
                <th>
                    <% case @page %>
                    <% when "inbox" %>
                    Sender
                    <% when "sentbox" %>
                    Receiver
                    <% when "trashbin" %>
                    Sender/Receiver
                    <% end %>
                </th>
                <th>Subject</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <%= content_tag_for(:tr, @conversations) do |conversation| %>
                <td><%= conversation.id %></td>
                <td><%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %></td>
                <td><%= message_sender(conversation) %></td>
                <td><%= link_to conversation.subject, conversation_path(conversation) %></td>                
                <td>
                <% if conversation.is_completely_trashed?(current_member) %>
                  <%= link_to 'Untrash', untrash_conversation_path(conversation), method: :post %>
                <% else %>
                  <%= link_to 'Move to trash', trash_conversation_path(conversation), method: :post %>
                <% end %>
                </td>
            <% end %>
        </tbody>
    </table>
</div>
