<%= simple_form_for :conversation, url: :conversations do |f| %>
  <%= f.input :recipients, label: "Send To", :input_html => { :value => @recipient_emails } %>
  <%= f.input :subject %>
  <%= f.input :body, as: :text %>
  <div class="form-actions">
    <%= f.button :submit, 'Send Message', class: 'btn-primary' %>
    <%= submit_tag 'Clear Box', type: :reset, class: 'btn btn-danger' %>    
  </div>
<% end %>
