<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="nav nav-sidebar">        
        <li class=<%= 'active' if @page == 'inbox' %>>
            <%= link_to "Inbox  #{@count if @count != 0}", conversations_path %>
        </li>
        <li class=<%= 'active' if @page == 'sentbox' %>>
            <%= link_to 'Outbox', sentbox_conversations_path %>
        </li>
        <li class=<%= 'active' if @page == 'trashbin' %>>
            <%= link_to 'Trash', trashbin_conversations_path %>
        </li>
    </ul>
</div>