<div class="col-xs-12">
  <%= simple_form_for [job, job.bids.new], wrapper: :inline_form, 
                                              html: { class: 'form-inline', 
                                               autocomplete: 'off' } do |f| %>
    <%= f.error_notification %>
      <ul class="list-inline">
        <li>
          <%= f.input :cost, as: :string, 
                          label: false,
                    placeholder: 'Cost', 
                     input_html: { maxlength: 3,
                                          id: 'form_zip_code' } %>
        </li>        
        <li>
          <%= f.input :duration, as: :string, 
                              label: false,
                        placeholder: 'Duration', 
                         input_html: { maxlength: 3,
                                              id: 'form_zip_code',
                                           style: 'width: 80px' } %>
        </li>
        <li>
          <%= f.input :duration_unit, selected: "#{ job.duration_unit }", 
                                         label: false, 
                                    collection: Job::DURATION_UNITS, 
                                    input_html: { style: 'width: 75px' } %>
        </li>
        <li>
          <%= f.button :submit, 'Submit Bid', class: 'btn btn-success' %></li>
        </ul>
       <hr>
  <% end %>
</div>
