<% @bid = job.bids.where(contractor: current_contractor).first || job.bids.new %>

<div class="col-xs-12 text-center">
  <% if job.searching? %>
    <%= simple_form_for [job, @bid], wrapper: :inline_form,
                                           html: { class: 'form-inline',
                                            autocomplete: 'off' } do |f| %>

      <%= f.error_notification %>
        <ul class="list-inline">
          <li>
          <div class="form-group">
            <span class="input-group">
              <%= f.input :cost, label: false,
                               wrapper: :horizontal_input_group do %>
                <span class="input-group-addon">$</span>
                <%= f.input_field :cost, maxlength: 5,
                                       class: 'form-control',
                                                id: 'form_zip_code' %>
              <% end %>
            </span>
            </div>
          </li>
          <li>
            <%= f.button :submit, bid_button_text(@bid), class: bid_button_color(@bid) %>
          </li>
          <li>
            <% if @bid.persisted? %>
              <%= link_to @bid, method: :delete,
                                  data: { confirm: 'Are you sure you want to delete this bid?' } do %>
                <%= fa_icon 'minus-square lg', title: 'Delete this bid',
                                               class: 'delete-job-post pull-right' %>
              <% end %>
            <% end %>
          </li>
        </ul>
        <hr>
    <% end %>
  <% else %>
    <h4>You can't bid on this job because it is already <%= job.state.to_s.humanize.downcase %></h4>
  <% end %>
</div>
