<div class="authform_large">
  <%= simple_form_for [@job, @bid], wrapper: :vertical_form, 
                               html: { multipart: true, 
                                    autocomplete: 'off' },
                   wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes,
                                              file: :horizontal_file_input } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs col-md-6 col-sm-6">
      <span class="input-group">
        <%#= f.association :contractor, as: :string, disabled: true, input_html: { value: current_contractor.name } %>
        <%= f.input :cost, required: true, wrapper_html: { class: 'col-xs-4' },
                              label: 'Cost Est.',
                            wrapper: :vertical_input_group do %>
            <span class="input-group-addon">$</span>
            <%= f.input_field :cost, as: :string, 
                            placeholder: '400',
                              maxlength: 5,
                                  class: 'form-control',
                                     id: 'form_zip_code' %>
        <% end %>

        <%= f.input :duration, as: :string,
                      placeholder: '6', 
                       input_html: { maxlength: 3 }, 
                     wrapper_html: { class: 'col-xs-4'} %>

        <%= f.input :duration_unit, selected: 'hours',
                                       label: 'Unit',
                                  collection: Job::DURATION_UNITS, 
                                wrapper_html: { class: 'col-xs-4 '} %>

      </span>
      <%#= f.input :description, as: :text, 
                          required: true,
                             label: '',
                       placeholder: 'Enter a brief description of this job',
                        input_html: { rows: '7', maxlength: 2000 },
                        label_html: { id: "description_feedback" }  %>
    </div>

    <div class="form-inputs col-md-6 col-sm-6">
      <%= f.button :submit, 'Submit this bid', class: 'bid_submit' %>
    </div>      
  <% end %>
</div>