<table class="table table-striped table-hover table-bordered text-center">
  <thead class="lead">
    <td>Contractor</td>
    <td>Cost</td>
    <td>Attachments</td>
    <td>Updated</td>
    <td></td>
  </thead>
  <tbody>
	  <% @bids.each do |bid| %>
	    <tr class="<%= bid.accepted? ? 'success' : '' %>">
			  <td><%= link_to bid.contractor.company_name,
			  								bid.contractor,
			  								class: 'unstyled-link' %></td>
			  <td>$<%= bid.cost %></td>
        <% if bid.pdf.present? %>
          <td>
            <%= link_to "#{ bid.pdf_file_name }", bid.pdf.url, class: 'unstyled-link', target: '_blank' %>
          </td>
        <% end %>
			  <td><%= time_ago_in_words(bid.updated_at)  %> ago</td>
        <td>
          <ul class="list-inline">
            <li><%= link_to ' Accept', accept_bid_path(bid),
                                       class: 'btn btn-success fa fa-lg fa-check-square-o',
                                      method: :post %></li>
            <li><%= link_to ' Reject', reject_bid_path(bid),
                                       class: 'btn btn-danger fa fa-lg fa-times-circle-o',
                                      method: :post %></li>
            <li>
                <%= link_to 'Send Message', new_conversation_path(:contractor => bid.contractor), class: 'btn btn-primary' %>
            </li>
          </ul>
        </td>
		  </tr>
	  <% end %>
  </tbody>
</table>
