<!-- Modal -->
<div class="modal" 
     id="myModal-<%= job.id %>" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="myModalLabel" 
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel"><%= job.title %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag job.image(:original), class: 'img-rounded img-responsive' %>
        <% if job.image.processing? %>
          <h4 class="text-center lead">
            Image is processing.<br> Refresh page in a few seconds.
          </h4>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default submit" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" id="<%= job.id %>">
  <div class="panel-heading">
    <h3 class="panel-title">
      <p>
        <% if current_user == job.user %>
          <%= link_to job, method: :delete,
                     remote: true, 
                       data: { confirm: 'Are you sure you want to delete this post?' } do %>
            <%= fa_icon 'minus-square 2x', title: 'Delete',
                                           class: 'delete-job-post pull-right' %>
          <% end %>
          <%= link_to edit_job_path(job) do %>
            <%= fa_icon 'edit 2x', title: 'Edit', class: 'pull-right' %>
          <% end %>
        <% elsif contractor_signed_in? && (request.fullpath).include?('/contractors') %>
          <%= link_to job_path(job), 
                      class: 'hidden-xs hidden-sm btn btn-primary pull-right' do %>
            View Details
          <% end %>
        <% end %>
      </p>
      <ul class="list-inline categories">
        <% job.categories.each do |c| %>
          <li>
            <span class="label label-<%= %w(default primary success info warning danger).sample %>">
              <%= c %>
            </span>
          </li>
        <% end %>
      </ul>
    </h3>
  </div>  
    <div class="panel-body">
      <% if contractor_signed_in? %>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <%= render 'bids/form', job: job %>
        </div>
      <% end %>      
      <div class="col-xs-12 col-md-4">
        <%= image_submit_tag job.image(:medium), class: 'img-rounded img-responsive', data: { toggle: 'modal', target: "#myModal-#{job.id}" } do %>
          <% if job.image.processing? %>
            <h4 class="text-center lead">
              Image is processing.<br> Refresh this page in a few seconds.
            </h4>
          <% end %>
        <% end %>
        <hr class="visible-xs visible-sm">
      </div>
      <%= link_to job, class: 'unstyled-description' do %>
      <div  class="col-xs-12 col-md-8">
        <p class="lead text-center">
          <strong>
            <%= job.title %>:
            <%= job_duration(job) %>
          </strong><br>

          <%= link_to "http://maps.google.com/?q=#{ job.full_address }", 
                      class: 'google_links', 
                     target: "_blank" do %>
            <%= fa_icon 'external-link', title: 'View in Google Maps' %>
            View in Google Maps
          <% end %>
        </p>
        <hr>
        <%= (request.fullpath).include?('jobs') ? 
                                job.description : 
                                truncate(job.description, length: 200) %>
      </div>                                  
    </div>

    <div class="panel-footer">
      <%= "Posted #{ time_ago_in_words(job.created_at) } ago" %> 
      <%= "| Approx. #{ current_contractor.distance_from(job).round(1) } miles away" if contractor_signed_in? %>
      <%= job_bid_duration(job) %>
    </div>
  <% end %>
</div>