<div class="panel panel-default" id="<%= job.id %>">
      <div class="panel-heading">
        <h3 class="panel-title">
          <p>
          <%= job.title %>
          <% if current_user == job.user %>
              <%= link_to job, method: :delete,
                         remote: true, 
                           data: { confirm: 'Are you sure you want to delete this post?' } do %>
                <%= fa_icon 'minus-square lg', title: 'Delete',
                                               class: 'delete-job-post pull-right' %>
              <% end %>
              <%= link_to edit_job_path(job) do %>
                <%= fa_icon 'edit lg', title: 'Edit', class: 'pull-right' %>
              <% end %>   
          <% end %>
          </p>
          <p>
            <ul class="list-inline categories">
              <% job.categories.each do |c| %>
                <li>
                  <span class="label label-<%= %w(default primary success info warning danger).sample %>">
                    <%= c %>
                  </span>
                </li>
              <% end %>
            </ul>
          </p>
        </h3>
      </div>
      <%= link_to job, class: 'unstyled-description' do %>
        <div class="panel-body">
          <div class="col-xs-4">
                <%= image_tag job.image(:original), class: 'img-rounded' %>
              <% if job.image.processing? %>
                <h4 class="text-center lead">
                  Image is processing.<br> Refresh page in a few seconds.
                </h4>
              <% end %>
          </div>
          <div  class="col-xs-8">
            <p class="lead">
              <strong>
                <%= job.job_cost %> / <%= job.job_duration %>
              </strong>
            </p>
            <hr>
            <%= (request.fullpath).include?('jobs') ? 
                job.description : 
                truncate(job.description, length: 500) %>
          </div>                                  
        </div>

        <div class="panel-footer">
          <%= "Posted #{ time_ago_in_words(job.created_at) } ago" %> <%= "| Approx. #{ @contractor.distance_from(job).round(1) } miles away" if contractor_signed_in? %>
        </div>
      <% end %>
    </div>