<div class="panel panel-default" id="job-<%= job.id %>">
  <div class="panel-heading">
    <h3 class="panel-title">
      <p>
        <%= render "jobs/job_state_buttons", job: job if current_user == job.user %>

        <%= render "jobs/contractor_job_buttons", job: job if contractor_signed_in? %>

        <span class="text-center">
          Status: <%= job.status %> <%= "(#{ pluralize(job.bids.count, 'bid') })" if job.searching? %>
          <% if job.contractor %>
            with <%= link_to job.contractor.company_name, job.contractor, class: 'unstyled-link' %>
          <% end %>
        </span>

      </p>
      <%= render partial: 'jobs/job_category_panel', locals: { job: job } %>
    </h3>
  </div>

  <div class="panel-body">
    <% if contractor_signed_in? %>
      <div class="col-xs-12 col-sm-12 col-md-12" id="job-<%= job.id %>">
        <%= render 'bids/form', job: job %>
      </div>
    <% end %>

    <div class="col-xs-12 col-md-6 text-center">
      <% if job.uploads.count > 0 %>
        <%= render partial: 'layouts/pic',
                collection: job.uploads,
                        as: :upload,
                    locals: { owner: job.user } %>
      <% end %>

      <%= render partial: 'layouts/pic_upload_button',
                  locals: { item: job,
                      item_owner: job.user,
                  current_member: current_user || current_contractor,
               item_upload_count: job.uploads.count,
                     item_status: '' } %>

      <hr class="visible-xs visible-sm">

      <% if params[:controller] == "jobs" %>
        <span class="hidden latitude"><%= job.latitude %></span>
        <span class="hidden longitude"><%= job.longitude %></span>
        <br><br>
        <div class="map_canvas"></div>
        <br>
      <% end %>
    </div>

    <%= link_to job, class: 'unstyled-link' do %>
      <div  class="col-xs-12 col-md-6">
        <p class="lead text-center">
          <strong>
            <%= job.title %>
          </strong><br>

          <%= link_to "http://maps.google.com/?q=#{ job.address }",
                      class: 'google_links',
                     target: "_blank" do %>
            <%= fa_icon 'external-link', title: 'View in Google Maps' %>
            View in Google Maps
          <% end %>
        </p>
        <hr>
        <%= (request.fullpath).include?('jobs') ?
                                job.description :
                                truncate(job.description, length: 200) %>
      </div>
    </div>
    <%= render partial: 'jobs/job_footer_panel', locals: { job: job, owner: job.user } %>
  <% end %>
</div>
