<div class="container">
  <div class="row">
    <table class="table table-striped table-hover table-bordered text-center">
      <thead class="lead">
        <td>Title</td>
        <td>Description</td>
        <td>Zip code</td>
        <td>User</td>
        <td>Contractor</td>
      </thead>

      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= link_to job.title, job, class: 'unstyled-link' %></td>
            <td><%= link_to truncate(job.description, length: 100), job, class: 'unstyled-link' %></td>
            <td><%= job.zip_code %></td>
            <td><%= link_to job.user.fullname, job.user, class: 'unstyled-link' %></td>
            <td><%= job.contractors.exists? ? job.contractors.first.company_name : 'No contractors'  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>