<% title "Job Post" %>

<div class="container">
  <%= render partial: 'layouts/image_modal',
          collection: @job.uploads,
                  as: :upload %>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'job_panel', job: @job %>
    </div>

    <% if @job.searching? %>
      <% if @bids.count > 0 && current_user == @job.user %>
        <hr>
        <h3 class="text-center lead">Recent bids for this job</h3>

        <div id="paginator-bids-top" class="text-center">
          <%= render partial: 'layouts/paginator',
                      locals: { context: @bids,
                         context_string: 'bids' } %>
        </div>

        <div class="col-xs-12" id="bids">
          <%= render partial: 'bid_panel' %>
        </div>

      <% elsif @bids.count == 0 && current_user == @job.user %>
        <h3 class="text-center lead">There are no bids for this job</h3>
      <% end %>
    <% else %>
      <h3 class="text-center lead">
        Job is <%= @job.status %>
        <%= link_to " with #{ @job.contractor.company_name }", @job.contractor, class: 'unstyled-link' if @job.contractor %>
      </h3>
      <% if @job.review.present? && !@job.in_progress? %>
        <hr>
        <div class="lead col-lg-6 col-lg-offset-3 col-xs-12">
          <div class="text-center">
            <% if current_user == @job.user %>
              <strong><%= link_to 'Review', job_review_path(@job), class: 'unstyled-link' %></strong><br>
            <% else %>
              <strong>Review</strong><br>
            <% end %>
          </div>
          <%= render "job_review", job: @job %>
          <br><br>
          <strong>Comments</strong>
          <br>
          <%= @job.review.description %>
        </div>
      <% end %>
    <% end %>

    <%= render 'layouts/back_to_profile' %>
  </div>
</div>
