<% if user_signed_in? && current_user == @user %>
  <% title "Home" %>
<% else %>
  <% title @user.fullname %>
<% end %>

<%= render partial: 'layouts/comment_modal',
              locals: { commentable: @user } %>

<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<%= render partial: 'layouts/profile_sidebar', locals: { member: @user } %>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
		<hr class="visible-xs">
    <h3 class="lead text-center">
      <%= link_to 'Post a New Job', new_job_path, class: 'btn btn-lg btn-success' if current_user == @user %>
    </h3>


    <%= render 'layouts/nav_pills' %>
    <% if current_user == @user %>

      <div class="tab-content">
        <%= render partial: 'layouts/job_tab_pane',
                    locals: { no_jobs: 'You have not posted any jobs' } %>

        <%= render 'layouts/comment_tab_pane' %>

        <%= render 'reviews/review_tab_pane' %>
      </div>
    <% else %>
    <div class="tab-content">
      <%= render partial: 'layouts/job_tab_pane',
                  locals: { no_jobs: 'You have not posted any jobs' } %>

      <%= render 'reviews/review_tab_pane' %>
    </div>
    <% end %>
	</div>
</div>
