<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<%= render partial: 'layouts/profile_sidebar', locals: { member: @user } %>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
		
		<hr class="visible-xs">
		
		<h3 class="lead text-center">
			<%= link_to 'Post a New Job', new_job_path, 
																		class: 'btn btn-lg btn-success' if current_user == @user %>
		</h3>

		<hr class="visible-xs">
			<% if @jobs.present? %>
        <div id="paginator-jobs-top" class="text-center">
          <%= paginate @jobs, theme: 'twitter-bootstrap-3',
                              param_name: 'jobs',
                              params: { tab: 'jobs' },
                              pagination_class: 'pagination-small pagination-centered' %>
        </div>
        <div id="job">
          <%= render partial: 'jobs/job_panel', collection: @jobs, as: :job %>
        </div>
        <div id="paginator-jobs-bottom" class="text-center">
          <%= paginate @jobs, theme: 'twitter-bootstrap-3',
                              param_name: 'jobs',
                              params: { tab: 'jobs' },
                              pagination_class: 'pagination-small pagination-centered' %>
        </div>
      <% else %>
        <br>
        <h4 class="text-center">You have not posted any Jobs</h4>
      <% end %>
	</div>	
</div>