<% content_for :title do %>About<% end %>

<div class="row" id="static">
	<div class="col-md-3">
		<h1 class="text-capitalize text-center">About Us</h1>
	</div>
	<div class="col-md-9">
		<br>
		<p>
		At OPENBID we're creative problem solvers.  We believe in efficiency, ethics, and perseverance.  Connecting buyers and sellers, setting up a fair deal, and getting work done are core to our business.
		</p>
		<p>
		A message from the founder Lance Schwarzkopf, " I've worked for large companies in the food industry for the better part of a decade.  I understand the difficulty of managing requests from suppliers.   I  have also worked as an independent product development consultant.   I know finding new customers and write quotes is difficult.  OPENBID was born from this experience.  It's our way of making business between customers and contractors more efficient for everyone." 
		</p>
		<p>
		It would be great to hear from you: <%= link_to 'contact us', new_contact_path, class: 'text-uppercase' %>
		</p>
		<br>
		<div class="text-center">			
			<ul class="list-inline">
		    	<li>
	          <%= link_to new_user_registration_path, class: 'btn btn-success btn-lg', 
	                                                     id: 'user_sign_up2' do %>
	            <%= fa_icon 'user', title: 'User' %> User Sign-up
	          <% end %>
	        </li>
	        <li>
	          <%= link_to new_contractor_registration_path, class: 'btn btn-success btn-lg', 
	                                                           id: 'contractor_sign_up2' do %>
	            <%= fa_icon 'wrench', title: 'Contractor' %> Contractor Sign-up
	          <% end %>
	        </li>
		    </ul>
		</div>
		<br>
	</div>
</div>