<% title "FAQ" %>

<div class="row" id="static">
	<div class="col-lg-12">
		<div class="col-md-3">
			<h1 class="text-uppercase text-center">FAQ</h1>
		</div>
		<div class="col-md-9">
			<h3>How much does it cost?</h3>
			<h4>It's free for both users and contractors.</h4>

			<h3>Who sees my contact information?</h3>
			<h4>
				OPENBID never displays your contact information in the public domain of the site.
				You choose which vendors see it during the bidding process. OPENBID is not a lead generation site.
				We do not sell your contact information to outside companies.
			</h4>

			<h3>Why is getting bids so important?</h3>
			<h4>
				Bids are the most efficient way to determine the local market rate for a good or service.
				OPENBID recommends getting at least three bids for major home projects.
			</h4>

			<h3>What's the best way to get bids?</h3>
			<h4>
				The best way to get quality bids from contractors is with a detailed job post.
				Specifics such as dimensions, materials, timeline, and year your home was built are very helpful.
				Photos of the project area and any inspiration you might have help contractors visualize your project goals.
			</h4>

			<h3>How is it free?</h3>
			<h4>
				OPENBID will always be free for both users and contractors.
				In the future we will offer a set of premium features contractors can purchase if they choose to.
			</h4>

			<h3>Who do I contact if I have problem with the site?</h3>
			<h4><%= link_to 'contact us', new_contact_path, class: 'text-uppercase' %></h4>

			<h3>How do I register?</h3>
				<ul class="list-inline">
		    	<li>
	          <%= link_to new_user_registration_path, class: 'btn btn-success btn-lg',
	                                                     id: 'user_sign_up2' do %>
	            <%= fa_icon 'user', title: 'User' %> User Sign-up
	          <% end %>
	        </li>
	        <li>
	          <%= link_to new_contractor_registration_path, class: 'btn btn-success btn-lg',
	                                                           id: 'contractor_sign_up2' do %>
	            <%= fa_icon 'wrench', title: 'Contractor' %> Contractor Sign-up
	          <% end %>
	        </li>
		    </ul>
		</div>
	</div>
</div>
