<div class="row">
	<div class="bg"></div>
	<div class="jumbotron">
	    <h2>FIND <br class="visible-xs hidden-sm"> CONTRACTORS FOR YOUR <u>TOUGHEST</u> <span class="green">PROJECTS</span></h2>
	    <ul class="list-inline">
	    	<li><%= link_to "GET STARTED", new_user_registration_path, class: "btn btn-success btn-lg", id: "get_started" %></li>
			  <li><%= link_to "LEARN MORE", new_user_registration_path, class: "btn btn-default btn-lg", id: "learn_more" %></li>
	    </ul>
	</div>
</div>

<div class="marketing row">
    <table class="table table-striped table-hover table-bordered">
    <thead class="lead">
      <td class="text-bold">Category</td>
      <td>Contractors</td>
      <td>Open Bids</td>
    </thead>
    <tbody class="">
      <tr>
        <td>Driveways</td>
        <td><%= rand(1000) %></td>
        <td><%= rand(1000) %></td>
      </tr>
      <tr>
        <td>Electrical</td>
        <td><%= rand(1000) %></td>
        <td><%= rand(1000) %></td>
      </tr>
      <tr>
        <td>Landscaping</td>
        <td><%= rand(1000) %></td>
        <td><%= rand(1000) %></td>
      </tr>
      <tr>
        <td>New Construction</td>
        <td><%= rand(1000) %></td>
        <td><%= rand(1000) %></td>
      </tr>
      <tr>
        <td>Painting</td>
        <td><%= rand(1000) %></td>
        <td><%= rand(1000) %></td>
      </tr>
      <tr>
        <td>Plumbing</td>
        <td><%= rand(1000) %></td>
        <td><%= rand(1000) %></td>
      </tr>
      <tr>
        <td>Remodel</td>
        <td><%= rand(1000) %></td>
        <td><%= rand(1000) %></td>
      </tr>
      <tr>
        <td>Roofing</td>
        <td><%= rand(1000) %></td>
        <td><%= rand(1000) %></td>
      </tr>
    </tbody>
  </table>
  <%#= link_to 'View all categories',  %>
</div>
