<div class="row">
	<div class="bg"></div>
	<div class="jumbotron">
      <span class="text-center">
	    <h2>FIND CONTRACTORS FOR YOUR <u>TOUGHEST</u> <span class="green">PROJECTS</span></h2>
	    <ul class="list-inline">
	    	<li>
          <%= link_to new_user_registration_path, class: 'btn btn-success btn-lg',
                                                     id: 'user_sign_up' do %>
            <%= fa_icon 'wrench', title: 'User' %> Post a job
          <% end %>
        </li>
			  <li>
          <%= link_to page_path('how'), class: 'btn btn-info btn-lg',
                                                         id: 'learn_more' do %>
           <%= fa_icon 'info', title: 'Info' %> Learn More
          <% end %>
        </li>
	    </ul>
      </span>
	</div>
</div>

<div class="row text-center" id="splash_row_1">
  <div class="col-xs-12">
    <h1 class="splash_green">Search for bids or contractors</h1>
  </div>
  <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
    <%= render 'searches/zip_search_form' %>
  </div>
</div>

<div class="marketing row text-center">
    <div class="col-lg-4">
      <%= image_tag 'Landscaping.png', class: 'img-responsive' %>
      <h4 class="lead">Landscaping</h4>
      <!-- <h5 class="splash_green">456 Bids</h5> -->
    </div>

    <div class="col-lg-4">
      <%= image_tag 'Remodel.png', class: 'img-responsive' %>
      <h4 class="lead">Remodel</h4>
      <!-- <h5 class="splash_green">185 Bids</h5> -->
    </div>

    <div class="col-lg-4">
      <%= image_tag 'Roofing.png', class: 'img-responsive' %>
      <h4 class="lead">Roofing</h4>
      <!-- <h5 class="splash_green">347 Bids</h5> -->
    </div>

    <div class="col-lg-4 col-lg-offset-4">
      <%= link_to 'VIEW ALL CATEGORIES', page_path('categories'),
                                         class: 'btn btn-success btn-lg',
                                            id: 'view_all_categories'  %>
    </div>
</div>

<div class="marketing row text-center" id="splash_row_3">
    <h1 id="good_company">Find whatever you need from wherever you are</h1>
    <br><br>
    <div class="col-md-5"><%= image_tag 'iMac5K.jpeg', class: 'img-responsive' %></div>
    <br>
    <div class="col-md-4"><%= image_tag 'macbook.jpg', class: 'img-responsive', id: 'macbookair' %></div>
    <br>
    <div class="col-md-3"><%= image_tag 'ipadmini.jpg', class: 'img-responsive', id: 'ipadmini' %></div>
    <br>
    <div class="col-xs-12">
      <%= link_to 'SIGN-UP', new_user_registration_path,
                                         class: 'btn btn-success btn-lg',
                                            id: 'view_all_categories'  %>
    </div>
</div>
