<div class="row">
	<div class="bg"></div>
	<div class="jumbotron">
      <span class="text-center">
	    <h2>FIND CONTRACTORS FOR YOUR <u>TOUGHEST</u> <span class="green">PROJECTS</span></h2>
	    <ul class="list-inline">
	    	<li><%= link_to 'User sign-up', new_user_registration_path, 
                                       class: 'btn btn-success btn-lg', 
                                          id: "user_sign_up" %></li>
        <li><%= link_to 'Contractor sign-up', new_contractor_registration_path, 
                                       class: 'btn btn-success btn-lg', 
                                          id: "contractor_sign_up" %></li>
			  <li><%= link_to 'Learn more', page_path('how'), 
                                      class: 'btn btn-info btn-lg', 
                                         id: 'learn_more' %></li>
	    </ul>
      </span>
	</div>
</div>

<div class="marketing row">
    <table class="table table-striped table-hover table-bordered text-center">
      <thead class="lead">
        <td>Category</td>
        <td>Available Contractors</td>
        <td>Open Jobs</td>
      </thead>
        <tbody>
          <%= render partial: 'pages/_categories', 
                  collection: Contractor.splash_page_categories, 
                          as: :category %>
        <tbody>
     </table>
  <%= link_to 'View all categories', page_path('categories'), 
                                     class: 'btn btn-success btn-lg'  %>
</div>
