<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<%= render partial: 'layouts/profile_sidebar', locals: { member: @contractor } %>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
		<hr class="visible-xs">
		<h3 class="lead text-center" id="description">
			<%= @contractor.try(:description) %>
		</h3>
    <hr class="visible-xs">

    <ul class="nav nav-pills nav-justified">
		  <li class="<%= 'active' if !params[:tab] || params[:tab] == 'jobs' %>">
		  	<a href="#job" data-toggle="tab">Nearby Jobs</a>
		  </li>
		  <li class="<%= 'active' if params[:tab] == 'examples' %>">
		  	<a href="#example" data-toggle="tab">Portfolio</a>
		  </li>
		</ul>    
		<br>

		<div class="tab-content">
		  <div class="<%= (params[:tab] == 'jobs' || !params[:tab]) ? 
                      'tab-pane fade in active' : 
                      'tab-pane fade in' %>" id="job">
		  	<% if @jobs.present? %>
          <div id="paginator-jobs-top" class="text-center">
            <%= render partial: 'layouts/paginator', 
                        locals: { context: @jobs, 
                           context_string: 'jobs' } %>
          </div>

          <div id="jobs">
            <%= render partial: 'jobs/job_panel', 
                    collection: @jobs, 
                            as: :job %>
          </div>

          <div id="paginator-jobs-bottom" class="text-center">
            <%= render partial: 'layouts/paginator', 
                        locals: { context: @jobs, 
                           context_string: 'jobs' } %>
	        </div>
        <% else %>
          <br>
          <h4 class="text-center">No nearby job posts in your categories</h4>
        <% end %>
		  </div>

			<div class="<%= if params[:tab] == 'examples' then 'tab-pane fade in active'  else 'tab-pane fade in' end%>" id="example">
        <h3 class="lead text-center">
          <%= link_to  'Add an example', new_contractor_example_path(@contractor),  
                                         class: 'btn btn-lg btn-success' if current_contractor == @contractor %>
        </h3>
			  <% if @examples.present? %>
          <div id="paginator-examples-top" class="text-center">
            <%= render partial: 'layouts/paginator', 
                        locals: { context: @examples, 
                           context_string: 'examples' } %>
          </div>

          <div id="examples">
            <%= render partial: 'examples/example_panel', 
                    collection: @examples, 
                            as: :example %>
          </div>

          <div id="paginator-examples-bottom" class="text-center">
            <%= render partial: 'layouts/paginator', 
                        locals: { context: @examples, 
                           context_string: 'examples' } %>
	        </div>
		  	<% else %>
          <br>
          <h4 class="text-center">You haven't entered examples of past jobs</h4>
        <% end %>
  		</div>

  	</div>
  </div>
</div>