<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<%= render partial: 'layouts/profile_sidebar', locals: { member: @contractor } %>
	</div>

	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
		<hr class="visible-xs">
		<h3 class="lead text-center">
			<%= @contractor.try(:bio) %>
		</h3>
		
    <hr>
    
    <ul class="nav nav-pills nav-justified">
		  <li class="<%= 'active' if !params[:tab] || params[:tab] == 'jobs' %>">
		  	<a href="#jobs" data-toggle="tab">Nearby Jobs</a>
		  </li>
		  <li class="<%= 'active' if params[:tab] == 'examples' %>">
		  	<a href="#examples" data-toggle="tab">Portfolio</a>
		  </li>
		</ul>
		<br>
		<div class="tab-content">
		  <div class="<%= if (params[:tab] == 'jobs' || !params[:tab]) then 'tab-pane fade in active'  else 'tab-pane fade in' end %>" id="jobs">
		  	<% if @jobs.present? %>
          <div id="paginator-jobs-top" class="text-center">
            <%= paginate @jobs, theme: 'twitter-bootstrap-3',
                                param_name: 'jobs',
                                params: { tab: 'jobs' },
                                pagination_class: 'pagination-small pagination-centered' %>
          </div>
          <div id="job">
            <%= render partial: 'jobs/job_panel', collection: @jobs, as: :job %>
          </div>
          <div id="paginator-jobs-bottom" class="text-center">
            <%= paginate @jobs, theme: 'twitter-bootstrap-3',
                                param_name: 'jobs',
                                params: { tab: 'jobs' },
                                pagination_class: 'pagination-small pagination-centered' %>
	        </div>
        <% else %>
          <br>
          <h4 class="text-center">No nearby job posts in your categories</h4>
        <% end %>
		  </div>

			<div class="<%= if params[:tab] == 'examples' then 'tab-pane fade in active'  else 'tab-pane fade in' end%>" id="examples">
        <h3 class="lead text-center">
          <%= link_to  'Add an example', new_contractor_example_path(@contractor),  
                                         class: 'btn btn-lg btn-success' if current_contractor == @contractor %>
        </h3>
			  <% if @examples.present? %>
          <div id="paginator-examples-top" class="text-center">
            <%= paginate @examples, theme: 'twitter-bootstrap-3',
                                param_name: 'examples',
                                params: { tab: 'examples' },
                                pagination_class: 'pagination-small pagination-centered' %>
          </div>
          <div id="example">
            <%= render partial: 'examples/example_panel', collection: @examples, as: :example %>
          </div>
          <div id="paginator-examples-bottom" class="text-center">
            <%= paginate @examples, theme: 'twitter-bootstrap-3',
                                param_name: 'examples',
                                params: { tab: 'examples' },
                                pagination_class: 'pagination-small pagination-centered' %>
	        </div>
		  	<% else %>
          <br>
          <h4 class="text-center">You haven't entered examples of past jobs</h4>
        <% end %>
  		</div>

  	</div>
  </div>
</div>