<%= render partial: 'layouts/comment_modal', 
              locals: { commentable: @contractor, comment: Comment.new } %>


<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<%= render partial: 'layouts/profile_sidebar', locals: { member: @contractor } %>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
		<hr class="visible-xs">
		<h3 class="lead text-center" id="description">
			<%= @contractor.try(:description) %>
		</h3>
    <hr class="visible-xs">

    <ul class="nav nav-pills nav-justified">
		  <li class="<%= 'active' if !params[:tab] || params[:tab] == 'jobs' %>">
		  	<a href="#job" data-toggle="tab">Nearby Jobs</a>
		  </li>
		  <li class="<%= 'active' if params[:tab] == 'examples' %>">
		  	<a href="#example" data-toggle="tab">Portfolio</a>
		  </li>
      <li class="<%= 'active' if params[:tab] == 'comments' %>">
        <a href="#comment" data-toggle="tab">Comments</a>
      </li>
		</ul>    
		<br>

		<div class="tab-content">
		  <div class="<%= (params[:tab] == 'jobs' || !params[:tab]) ? 
                      'tab-pane fade in active' : 
                      'tab-pane fade in' %>" id="job">
		  	<% if @jobs.present? %>
          <%= render 'layouts/jobs' %>
        <% else %>
          <br>
          <h4 class="text-center">No nearby job posts in your categories</h4>
        <% end %>
		  </div>

			<div class="<%= (params[:tab] == 'examples') ? 
                      'tab-pane fade in active' : 
                      'tab-pane fade in' %>" id="example">
        <h3 class="lead text-center">
          <%= link_to  'Add an example', new_contractor_example_path(@contractor),  
                                         class: 'btn btn-lg btn-success' if current_contractor == @contractor %>
        </h3>
			  <% if @examples.present? %>
          <%= render 'layouts/examples' %>
		  	<% else %>
          <br>
          <h4 class="text-center">You haven't entered examples of past jobs</h4>
        <% end %>
  		</div>

      <div class="<%= (params[:tab] == 'comments') ? 
                      'tab-pane fade in active' : 
                      'tab-pane fade in' %>" id="comment">
        
        <% if @comments.present? %>
          <%= render 'comments/comments' %>
        <% else %>
          <br>
          <h4 class="text-center">You have no comments</h4>
        <% end %>
      </div>

  	</div>
  </div>
</div>