<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<%= render partial: 'layouts/profile_sidebar', locals: { member: @contractor } %>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
		<hr class="visible-xs">
		<h3 class="lead text-center">
			<%= @contractor.try(:bio) %>
		</h3>
		<hr>
		<ul class="nav nav-pills nav-justified">
		  <li class="<%= 'active' if !params[:tab] || params[:tab] == 'jobs' %>">
		  	<a href="#jobs" data-toggle="tab">Nearby Jobs</a>
		  </li>
		  <li class="<%= 'active' if params[:tab] == 'portfolios' %>">
		  	<a href="#portfolios" data-toggle="tab">Your Portfolio</a>
		  </li>
		</ul>
		<br>
		<div class="tab-content">
		  <div class="tab-pane fade in active" id="jobs">
		  	<% if @jobs.present? %>
          <div id="paginator-jobs-top" class="text-center">
            <%= paginate @jobs, theme: 'twitter-bootstrap-3',
                                param_name: 'jobs',
                                params: { tab: 'jobs' },
                                pagination_class: 'pagination-small pagination-centered' %>
          </div>
          <div id="job">
            <%= render partial: 'jobs/job_panel', collection: @jobs, as: :job %>
          </div>
          <div id="paginator-jobs-bottom" class="text-center">
            <%= paginate @jobs, theme: 'twitter-bootstrap-3',
                                param_name: 'jobs',
                                params: { tab: 'jobs' },
                                pagination_class: 'pagination-small pagination-centered' %>
	        </div>
        <% else %>
          <br>
          <h4 class="text-center">No nearby job posts in your categories</h4>
        <% end %>
		  </div>
		  <div class="tab-pane fade" id="portfolios">
				<%= render partial: 'jobs/job_panel', collection: @jobs, as: :job %>
		  </div>
		</div>	
	</div>
</div>