<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<%= render partial: 'layouts/profile_sidebar', locals: { member: @contractor } %>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
		<hr class="visible-xs">
		<h3 class="lead text-center">
			<%= @contractor.try(:bio) %>
		</h3>
		<hr>
		<ul class="nav nav-pills nav-justified">
		  <li class="<%= 'active' if !params[:tabs] || params[:tabs] == 'jobs' %>">
		  	<a href="#jobs" data-toggle="tab">Nearby Jobs</a>
		  </li>
		  <li class="<%= 'active' if params[:tab] == 'portfolio' %>">
		  	<a href="#portfolio" data-toggle="tab">Your Portfolio</a>
		  </li>
		</ul>
		<br>

		<div class="tab-content">
		  <div class="tab-pane fade in active" id="jobs">
		  	<% @jobs.each do |j| %>
					<%= render 'jobs/job_panel', job: j %>
				<% end %>	
		  </div>
		  <div class="tab-pane fade" id="portfolio">
		  	Portfolio div
		  </div>
		</div>	
	</div>
</div>