<% title "#{resource.class} Sign-in" %>

<div class="row">
	<div class="text-center">
		<% if resource.is_a?(User) %>
		  <%= link_to new_contractor_session_path, class: 'btn btn-sm btn-warning' do %>
		    <%= fa_icon 'wrench', title: 'Contractor' %> Contractor sign-in   
		  <% end %>
		<% else %>
		  <%= link_to new_user_session_path, class: 'btn btn-sm btn-success' do %>
		    <%= fa_icon 'user', title: 'User' %> User sign-in
		  <% end %>
		<% end %>
	</div>
	<div class="authform">
		<%= simple_form_for resource, as: resource_name, 
																 url: session_path(resource_name) do |f| %>
			
			<%= f.error_notification %>
		  <div class="form-inputs">
		    <%= f.input :email, required: true, autofocus: true %>
		    <%= f.input :password, required: true %>
		    <%= f.input :remember_me, wrapper: :horizontal_boolean,
		     															 as: :boolean if devise_mapping.rememberable? %>
		   </div>
		   <div class="form-inputs text-center">
       	<%= render partial: 'devise/sessions/sign_up_in_button', 
		  							locals: { text: 'sign-in'} %>
      </div>
		<% end %>
	</div>
</div>

<%= render 'devise/shared/links' %>