<td class="text-center">
	<%= link_to image_tag(job.image(:thumb), class: 'img-rounded'), job %><br>
	<%= link_to job.title, job %> <br>
  <%= job.categories.to_sentence %>
</td>
<td>
	<%= truncate(job.description, length: 100)%>
</td>
<td class="text-center">
	<%= job_cost(job) %><br>
	<%= job_duration(job) %>
</td>