<td class="text-center">
	<%= link_to image_tag(job.image(:thumb), class: 'img-rounded'), job %><br>
	<%= link_to job.title, job %> <br>
  <%= job.categories.to_sentence %>
</td>
<td>
	<div class="text-center"><h4><%= job_duration(job) %></h4></div>
	<br>
	<%= truncate(job.description, length: 100)%>
</td>