<td>
  <%= link_to image_tag(job.image(:thumb), class: 'img-rounded'), job %>
</td>
<td>
	<%= link_to job.title, job %> <br>
  <%= job.categories.to_sentence %>
</td>
<td>
	<%= job_cost(job) %> / <%= job_duration(job) %>
</td>