<tr>
	<td class="text-center">
	 	<% if context.uploads.present? %>
			<%= link_to image_tag(context.uploads.first.image(:thumb), class: 'img-rounded img-responsive'), context %><br>
		<% end %>
		<%= context.is_a?(Job) ? (link_to context.title, context, class: 'unstyled-link') : (link_to context.fullname, context, class: 'unstyled-link')  %> <br>
	  <%= context.categories.to_sentence %>
	</td>
	<td>
		<div class="text-center"><h4><%= context.title if context.is_a?(Job) %></h4></div>
		<br>
		<%= truncate(context.description, length: 100)%>
	</td>
</tr>
