<div class="panel panel-default" id="example-<%= example.id %>">
  <div class="panel-heading">
    <%= link_to example, class: 'unstyled-link' do %>
      <p class="panel-title text-center">
        <%= example.title %>
      </p>
    <% end %>
    <h4>
      <% if current_contractor == example.contractor %>
        <%= link_to example, method: :delete,
                             remote: true do %>
          <%= fa_icon 'minus-square lg', title: 'Delete',
                                      class: 'delete-job-post pull-right' %>
        <% end %>

        <%= link_to edit_example_path(example) do %>
          <%= fa_icon 'edit lg', title: 'Edit',
                              class: 'pull-right' %>
        <% end %>
      <% end %>
      <%= render partial: 'jobs/job_category_panel', locals: { job: example } %>
    </h4>
  </div>

  <div class="panel-body">

    <div class="col-xs-6 text-center">
      <% if example.before_uploads.count > 0 %>
        <div class="links text-center">
          <ul class="list-inline">
            <%= render partial: 'galleries/gallery_list',
            collection: example.before_uploads,
            as: :image,
            locals: { owner: example.contractor } %>
          </ul>
        </div>
        <hr>
      <% else %>
        <h4>
          <%= link_to "Upload 'before' pics",
                      new_example_upload_path(example, status: 'before'),
                      class: 'unstyled-link' %>
        </h4>
        <hr>
      <% end %>
    </div>

    <div class="col-xs-6 text-center">
      <% if example.after_uploads.count > 0 %>
        <div class="links text-center">
          <ul class="list-inline">
            <%= render partial: 'galleries/gallery_list',
            collection: example.after_uploads,
            as: :image,
            locals: { owner: example.contractor } %>
          </ul>
        </div>
        <hr>
      <% else %>
        <h4>
          <%= link_to "Upload 'after' pics",
                      new_example_upload_path(example, status: 'after'),
                      class: 'unstyled-link' %>
        </h4>
        <hr>
      <% end %>
    </div>

    <div  class="col-xs-12">
      <hr class="visible-xs visible-sm">
      <%= (request.fullpath).include?('examples') ?
                              example.description :
                              truncate(example.description, length: 200) %>
     <hr class="visible-xs visible-sm">
    </div>

  </div>
  <%= render partial: 'jobs/job_footer_panel',
              locals: { job: example,
                      owner: example.contractor } %>
</div>
