<% @cats = Contractor.categories %>
<div class="authform_large">
  <%= simple_form_for [@contractor, @example], wrapper: :vertical_form, 
                               html: { multipart: true, 
                                    autocomplete: 'off' },
                   wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes,
                                              file: :horizontal_file_input } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs col-md-6 col-sm-6">
      <%= f.input :title, label: 'Job Title', required: true, input_html: { maxlength: 50 } %>
      
        <%= f.input :cost, required: true, wrapper_html: { class: 'col-xs-4' },
                            wrapper: :vertical_input_group do %>
            <span class="input-group-addon">$</span>
            <%= f.input_field :cost, as: :string, 
                            placeholder: '400',
                              maxlength: 5,
                                  class: 'form-control',
                                     id: 'form_zip_code' %>
        <% end %>

      <%= f.input :duration, label: 'Job timeline', as: :string,
                    placeholder: '6', 
                     input_html: { maxlength: 3 }, 
                   wrapper_html: { class: 'col-xs-4'} %>

      <%= f.input :duration_unit, selected: 'hours',
                                     label: 'duration unit',
                                collection: Example::DURATION_UNITS, 
                              wrapper_html: { class: 'col-xs-4 '} %>

      <%= f.input :description, as: :text, 
                          required: true,
                             label: '',
                       placeholder: 'Enter a brief description of this job',
                        input_html: { rows: '7', maxlength: 2000 },
                        label_html: { id: 'description_feedback' }  %>

      <div>
        <p class="text-center lead">Select between 1-4 categories</p>
        <% @cats.in_groups_of((@cats.size/2.0).ceil, false).each do |cats| %>
          <ul class="list-unstyled col-xs-6">
            <li>
              <%= f.input :categories, as: :check_boxes, 
                                label: false,
                             required: true,
                           collection: cats %>
            </li>
          </ul> 
        <% end %>
      </div>
    </div>

    <div class="form-inputs col-md-6 col-sm-6">      
      <div class="text-center">
        <%= image_tag @example.image_before.url(:medium).html_safe %>
          <p>Upload an optional BEFORE image</p>
          <br><br>
        <% if @example.image_before? %>
          <%= f.input :delete_image_before, as: :boolean, 
                                  label: false, 
                           inline_label: 'Delete image' %><br>
        <% end %>

        <%= f.file_field :image_before %>
        <h4>or</h4>
        <%= f.input :image_before_remote_url, label: 'Paste an image URL' %>
      </div>
      <hr>
      <div class="text-center">
        <%= image_tag @example.image_after.url(:medium).html_safe %>
          <p>Upload an AFTER image (required)</p>
          <br><br>
        <% if @example.image_after? %>
          <%= f.input :delete_image_after, as: :boolean, 
                                  label: false, 
                           inline_label: 'Delete image' %><br>
        <% end %>

        <%= f.file_field :image_after %>
        <h4>or</h4>
        <%= f.input :image_after_remote_url, label: 'Paste an image URL' %>
      </div>

      <h4 class="text-center hidden text-danger" id="category_warning">
        Please pick at least one category.
      </h4>
      <%= f.button :submit, 'Post this example', class: 'user_submit' %>
    </div>      
  <% end %>
</div>