<% example.uploads.each do |image| %>
  <!-- Example Before Modal -->
  <% if image.before? %>
    <div class="modal" 
         id="myExampleBeforeModal-<%= image.id %>" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="myExampleBeforeModalLabel" 
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center" id="myExampleBeforeModalLabel"><%= example.title %></h4>
          </div>
          <div class="modal-body">
              <%= image_tag image.image(:original), class: 'img-rounded img-responsive' %>
              <% if image.processing? %>
                <h4 class="text-center lead">
                  Image is processing.<br> Refresh page in a few seconds.
                </h4>
              <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default submit" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if image.after? %>
  <!-- Example After Modal -->
    <div class="modal" 
         id="myExampleAfterModal-<%= image.id %>" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="myExampleAfterModalLabel" 
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center" id="myExampleAfterModalLabel"><%= example.title %></h4>
          </div>
          <div class="modal-body">
            <%= image_tag image.image(:original), class: 'img-rounded img-responsive' %>
            <% if image.processing? %>
              <h4 class="text-center lead">
                Image is processing.<br> Refresh page in a few seconds.
              </h4>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default submit" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>