<div class="container">
  <div class="row">
    <% if @images %>
      <h2 class="text-center lead">
        <%= pluralize(@images.count, 'portfolio image') %> from <%= @contractor.fullname %>
      </h2>
      <hr>
      <div class="links text-center">
        <ul class="list-inline">
          <% @images.each do |image| %>
            <li>
              <%= link_to image.image.url(:original), title: "#{image.image_file_name}", data: { gallery: '' } do %>
                <%= image_tag(image.image(:thumb), class: 'img-responsive')  %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

    <% else %>
      No gallery for this contractor
    <% end %>
  </div>
</div>
<%= render 'layouts/gallery_lightbox' %>
