<div class="row authform">
  <%= simple_form_for @review, url: job_review_path, html: { autocomplete: 'off' } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :quality, input_html: { id: 'review_quality' } %>
      <%= f.input :cost, input_html: { id: 'review_cost' } %>
      <%= f.input :timeliness, input_html: { id: 'review_timeliness' } %>
      <%= f.input :professionalism, input_html: { id: 'review_professionalism' } %>
      <%= f.input :recommendability, label: 'How likely are you to recommend this contractor to other people?',
                              input_html: { id: 'review_recommendability' } %>
      <%= f.input :description, as: :text,
                             label: 'Comments (optional)',
                       placeholder: 'Maximum 2000 characters.',
                        input_html: { rows: '7', maxlength: 2000 } %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, 'Submit review', class: 'btn btn-success' %>
    </div>
  <% end %>
  <br>
  <%= render 'layouts/back_to_profile' %>
</div>
