<div class="panel panel-default" id="review-<%= review.id %>">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="text-center">
        <%= link_to review.reviewable.title, review.reviewable, class: 'unstyled-link' %>: <%= review.reviewable.status %>
        <% if review.reviewable.contractor %>
          with <%= link_to review.reviewable.contractor.company_name, review.reviewable.contractor, class: 'unstyled-link' %>
        <% end %>
      </span>
        <% if current_user == review.reviewerable %>
          <ul class="list-inline pull-right">
            <li>
              <%= link_to edit_job_review_path(review.reviewable) do %>
                  <%= fa_icon 'edit lg 2x', title: 'Edit',
                                            class: 'pull-right' %>
              <% end %>
            </li>
            <li>
              <%= link_to job_review_path(review.reviewable), method: :delete,
                                                                        remote: true,
                                                                          data: { confirm: 'Are you sure you want to delete this review?' } do %>
                <%= fa_icon 'minus-square-o lg 2x', title: 'Delete',
                                                    class: 'delete-comment-post pull-right' %>
              <% end %>
            </li>
          </ul>
        <% end %>
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-12 col-md-3">
      <%= render partial: "jobs/job_review", locals: { job: review.reviewable } %>
    </div>
    <div class="col-xs-12 col-md-9">
      <%= review.description %>
    </div>
  </div>

  <div class="panel-footer text-center">
    <%= "Updated #{ time_ago_in_words(review.updated_at) } ago " %>
  </div>
</div>
