<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Job:</strong>
  <%= @review.job.title %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @review.job.contractors.first.fullname %>
</p>

<%= link_to 'Edit', edit_job_review_path(@job, @review) %> |
<%= link_to 'Back', job_reviews_path(@job) %>
