<p>
  <strong>Job:</strong>
  <%= @review.reviewable.title %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @review.reviewable.contractor.fullname %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @review.quality %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @review.cost %>
</p>

<p>
  <strong>Timeliness:</strong>
  <%= @review.timeliness %>
</p>

<p>
  <strong>Professionalism:</strong>
  <%= @review.professionalism %>
</p>

<p>
  <strong>Likelihood to recommend:</strong>
  <%= @review.recommendation %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.description %>
</p>

<%= link_to 'Edit', edit_job_review_path(@job) %> |
<%= link_to 'Back', job_path(@job) %>
