<% @cats = Contractor.categories %>

<div class="row">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <div class="map_canvas_form"></div>
    <br>
  </div>

  <div class="authform_large col-lg-6 col-md-6 col-xs-12">
    <%= simple_form_for job, wrapper: :vertical_form,
                                 html: { multipart: true, class: 'geocoder_form' },
                     wrapper_mappings: { radio_buttons: :vertical_radio_and_checkboxes,
                                           check_boxes: :vertical_radio_and_checkboxes,
                                                  file: :horizontal_file_input } do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs col-lg-10 col-lg-offset-1">
        <%= f.simple_fields_for :uploads do |i| %>

          <% if job.uploads.count > 0 %>
            <%= image_tag(job.uploads.first.image.url(:medium), class: 'img-rounded').html_safe %>
              <br>
            <%= i.input :_destroy, as: :boolean,
                                label: false,
                         inline_label: 'Remove picture',
                         wrapper_html: { class: 'text-center' } %>
          <% end %>
          <%= i.file_field :image %>
          <h4>or</h4>
          <%= i.input :image_remote_url, label: 'Enter an image URL' %>
          <br>
        <% end %>
        <% if type == 'job' %>
              <%= f.input :address, placeholder: "#{ current_user.address }",
                                     input_html: { class: 'geocomplete',
                                                    data: { geo: 'formatted_address' } } %>

              <%= render partial: 'lat_lon_inputs', locals: { f: f,
                                                            job: job } %>

              <%= f.input :phone, as: :string,
                               label: 'Phone (optional)',
                         placeholder: 'Enter a valid number' %>

        <% end %>

        <%= f.input :title, label: 'Job Title',
                       input_html: { maxlength: 50,
                                            id: 'job_title' } %>

        <% if type == 'example' %>
          <ul class="list-inline">
            <li>
              <%= f.input :cost, wrapper: :vertical_input_group do %>
                <span class="input-group-addon">$</span>
                <%= f.input_field :cost, as: :string,
                                placeholder: '400',
                                  maxlength: 5,
                                      class: 'form-control',
                                         id: 'form_zip_code' %>
              <% end %>
            </li>

            <li>
              <%= f.input :duration, label: 'Job timeline',
                                        as: :string,
                               placeholder: '6',
                                input_html: { maxlength: 3 } %>
            </li>

            <li>
              <%= f.input :duration_unit, selected: 'hours',
                                             label: 'duration unit',
                                        collection: Example::DURATION_UNITS %>
            </li>
          </ul>
        <% end %>

        <% if type == 'job' %>
          <%= f.input :bidding_period, as: :string,
                                    label: 'End Bidding (optional)',
                              placeholder: 'Enter a valid date',
                               input_html: { class: 'datepicker' } %>
        <% end %>


        <%= f.input :description, as: :text,
                               label: '',
                         placeholder: 'Enter a brief description of this job',
                          input_html: { id: 'job_description', rows: '7',
                                 maxlength: 2000 },
                          label_html: { id: 'description_feedback' }  %>


      <div class="form-inputs col-xs-12">
        <%= render 'layouts/category_select', f: f %>
      </div>

      </div>
      <div class="row">
        <div class="form-inputs col-xs-12">
          <h4 class="text-center hidden text-danger" id="category_warning">
            Please pick 1-4 categories
          </h4>
        </div>
          <%= f.button :submit, "Post this #{ job.class.name.downcase }", class: 'user_submit' %>
      </div>
    <% end %>
  </div>
</div>
