<h4 class="text-center">
  Average reviews <%= member.user? ? 'given' : 'received' %> (<%= pluralize(member.reviews.count, 'job') %>)  
</h4>
<h4 class="lead">
  <strong>Quality:</strong>
  <%= member.review_average(:quality) %>/10
  <br>
  <strong>Cost:</strong>
  <%= member.review_average(:cost) %>/10
  <br>
  <strong>Timeliness:</strong>
  <%= member.review_average(:timeliness) %>/10
  <br>
  <strong>Professionalism:</strong>
  <%= member.review_average(:professionalism) %>/10
  <br>
  <strong>Recommendability:</strong>
  <%= member.review_average(:recommendation) %>/10
</h4>
