<span id="image-<%= u.id %>">
	<p><%= u.image.processing? ? 'peekaboo' : 'already here' %></p>
	<%= image_tag u.image.url(:medium), class: 'img-rounded' %>
	<%= link_to polymorphic_url([u.uploadable, u]), method: :delete, remote: true do %>
        <%= fa_icon 'minus-square lg', title: 'Delete',
                                       class: 'member_pic_delete delete-job-post pull-right' %>
  <% end if (current_user || current_contractor) == u.uploadable %>
	<hr>
</span>