<!-- Message Modal -->
<div class="modal"
     id="messageModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <%= simple_form_for @message, url: messages_path, method: :post, wrapper: :vertical_form do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :received_messageable_id, as: :hidden, input_html: { value: "#{member.id}" } %>
            <%= f.input :received_messageable_type, as: :hidden, input_html: { value: "#{member.class.name}" } %>
            <%= f.input :topic, input_html: { maxlength: 50 } %>
            <%= f.input :body, input_html: { maxlength: 2000 } %>
          </div>
          <div class="row">
            <%= f.button :submit, 'Send message', class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default submit" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
