<% if user_signed_in? %>
  <li><%= link_to 'Post a Job', new_job_path,
                                class: 'user_submit',
                                   id: 'learn_more_nav' %></li>
  <li><%= link_to 'Edit Profile', edit_user_registration_path,
                                  class: 'user_submit',
                                     id: 'learn_more_nav' %></li>
  <li><%= link_to 'Sign-out', destroy_user_session_path, 
                              method: 'delete',
                               class: 'user_submit',
                                  id: 'learn_more_nav' %></li>
  <% if current_user.admin? %>
    <li><%= link_to 'ADMIN', '/admin' %></li>
    <li><%= link_to 'USERS', users_path %></li>
  <% end %>
<% elsif contractor_signed_in? %>
  <li><%= link_to 'Edit Profile', edit_contractor_registration_path,
                                  class: 'user_submit',
                                     id: 'learn_more_nav' %></li>
  <li><%= link_to 'Sign-out', destroy_contractor_session_path, 
                              method: 'delete',
                               class: 'user_submit',
                                  id: 'learn_more_nav' %></li>
<% else %>
 <!--  <li><%#= link_to 'How it works', page_path('how'), 
                                  class: 'btn btn-success btn-lg', 
                                     id: 'learn_more_nav' %></li> -->
  <li><%= link_to 'User Sign-in', new_user_session_path, 
  													 class: 'btn btn-success btn-lg', 
  														  id: 'user_login_nav' %></li>
  <li><%= link_to 'Contractor Sign-in', new_contractor_session_path, 
                             class: 'btn btn-success btn-lg', 
                                id: 'contractor_login_nav' %></li>
<% end %>