<hr class="visible-xs">
<ul class="nav nav-pills nav-justified">
  <% if user_signed_in? && current_user == @user %>
    <li class="<%= 'active' if !params[:tab] || params[:tab] == 'jobs' %>">
      <a href="#job" data-toggle="tab">
        Your Jobs
      </a>
    </li>
  <% end %>

  <% if contractor_signed_in? && current_contractor == @contractor %>
    <li class="<%= 'active' if !params[:tab] || params[:tab] == 'jobs' %>">
      <a href="#job" data-toggle="tab">
        <span data-toggle="tooltip"  data-original-title="Adjust distance in your profile">
          Jobs
        </span>
      </a>
    </li>
  <% end %>

  <% if @contractor %>
    <li class="<%= 'active' if !(current_contractor == @contractor) || params[:tab] == 'examples' %>">
      <a href="#example" data-toggle="tab">Portfolio</a>
    </li>
  <% end %>

  <% if @user && current_user != @user %>
    <li class="<%= 'active' if !(current_user == @user) || params[:tab] == 'jobs' %>">
      <a href="#job" data-toggle="tab">Job Posts</a>
    </li>
  <% end %>

  <li class="<%= 'active' if params[:tab] == 'bids' %>">
    <a href="#bid" data-toggle="tab">Bids</a>
  </li>

  <li class="<%= 'active' if params[:tab] == 'reviews' %>">
    <a href="#review" data-toggle="tab">Reviews</a>
  </li>
</ul>
<br>
