<% if user_signed_in? %>
  <li><%= link_to 'Post a Job', new_job_path,
                                class: 'nav_link visible-xs visible-sm' %></li>
  <li><%= link_to 'View All Categories', page_path('categories'), class: 'nav_link'  %></li>
  <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav_link' %></li>
  <li><%= link_to 'Sign-out', destroy_user_session_path, class: 'nav_link', 
                              method: 'delete' %></li>
  <% if current_user.admin? %>
    <li><%= link_to 'ADMIN', '/admin' %></li>
    <li><%= link_to 'USERS', users_path %></li>
  <% end %>
<% elsif contractor_signed_in? %>
  <li><%= link_to 'View All Categories', page_path('categories'), 
                                         class: 'nav_link'  %></li>
  <li><%= link_to 'Edit Profile', edit_contractor_registration_path,
                                  class: 'nav_link' %></li>
  <li><%= link_to 'Sign-out', destroy_contractor_session_path, 
                              method: 'delete',
                               class: 'nav_link' %></li>
<% else %>
  <li>
    <%= link_to new_user_registration_path, class: 'nav_link' do %>
      <%= fa_icon 'hand-o-up', title: 'Info' %> Sign-up
    <% end %>
  </li>
  <li>
    <%= link_to new_user_session_path, class: 'nav_link' do %>
        <%= fa_icon 'sign-in', title: 'Info' %> Log-in
    <% end %>
  </li>
<% end %>