<% if (params[:controller] == 'jobs') || (params[:controller] == 'examples') %>	
	<span id="image-<%= upload.id %>">
		<%= image_submit_tag upload.image.url(:medium), class: 'img-rounded', data: { toggle: 'modal', 
															                                                    target: "#myModal-#{ upload.id }" } do %>
	    <%= link_to polymorphic_url([upload.uploadable, upload]), method: :delete, remote: true do %>
	    	<br>
	      <%= fa_icon 'minus-square lg', title: 'Delete', class: 'member_pic_delete delete-job-post pull-right' %>
		  <% end if (current_user || current_contractor) == owner %>
	  <% end %>
	</span>
<% else %>
	<span id="image-<%= upload.id %>">
		<%= image_tag upload.image.url(:medium), class: 'img-rounded' %>
		<%= link_to polymorphic_url([upload.uploadable, upload]), method: :delete, remote: true do %>
	        <br>
	        <%= fa_icon 'minus-square lg', title: 'Delete', class: 'member_pic_delete delete-job-post pull-right' %>
	  <% end if (current_user || current_contractor) == owner %>
		<hr>
	</span>
<% end %>