<% @cats = member.categories %>
	<% if member.upload.present? %>
		<span id="image-<%= member.upload.id %>">
			<%= image_tag member.upload.image.url(:medium),
			class: 'img-rounded img-responsive' %>

			<%= link_to upload_path(member.upload),
											method: :delete, remote: true do %>
				<br>
				<%= fa_icon 'minus-square lg', title: 'Delete',
																			 class: 'member_pic_delete delete-job-post pull-right' %>
			<% end if (current_user || current_contractor) == member.upload.uploadable %>

		</span>
	<% end %>
	<span class="text-center">
		<%= @incomplete_profile_message.html_safe if @incomplete_profile_message.present? %>
		<%= render "layouts/member_address", member: member %>
	</span>
	<hr>
	<% if member.reviews.present? %>
		<%= render partial: 'layouts/member_reviews', locals: { member: member } %>
	<% else %>
		<h3 class="text-center lead">
			No reviews <%= member.is_a?(User) ? 'by this member' : 'on this contractor' %>
		</h3>
	<% end %>
	<hr>
	<% if member.categories.size > 0 %>
		<h4 class="text-center">
			<%= member.contractor? ? 'Services Offered' : 'Services Needed' %>
		</h4>
		<% @cats.each do |cat| %>
      <ul>
      	<h2>
      		<li class="services label label-<%= %w(default primary success info warning danger).sample %>">
            <%= cat %>
          </li>
        </h2>
      </ul>
    <% end %>
	<% end %>
