<% @cats = member.categories %>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<span class="text-center">
		<%= image_tag member.image(:original), class: 'img-rounded' %>
	</span>

	<% if member.image.processing? %>
		<h4 class="text-center lead">
			Image is processing.<br> Refresh page in a few seconds.
		</h4>
	<% end %>	
	<hr>
	<address class="lead">
		<% if member.try(:company_name) %>
		  <div class="text-center"><strong><%= member.company_name %></strong></div><br>
	  <% end %>
	  <% if member.try(:name) %>
		  <%= member.name %><br>
	  <% end %>
	  <% if member.try(:address) %>
		  <%= member.address %><br>
	  <% end %>
	  <% if member.try(:zip_code) %>
		  San Francisco, CA <%= member.try(:zip_code) %><br>
	  <% end %>
	  <% if member.try(:phone) %>
		  <%= member.try(:phone) %><br>
	  <% end %>
	  <% if member.try(:email)  %>
		  <%= member.try(:email) %>
	  <% end %>
	</address>
	<hr>
	<% if member.categories.size > 0 %>
		<h4 class="text-center">
			<%= member.contractor? ? 'Services Offered' : 'Services Needed' %>
		</h4><br>
		<% @cats.in_groups_of((@cats.size/2.0).ceil, false).each do |cats| %>
				<% cats.each do |cat| %>
          <ul class="list-unstyled lead col-xs-6">
          	<li class="text-center"><%= cat %></li>
          </ul>
        <% end %>
		<% end %>				
	<% end %>
</div>