<% @cats = member.categories %>
	<% if member.upload.present? %>
		<% if member.upload.image_processing? %>
			<%= render 'layouts/image_processing' %>
		<% else %>
			<div id="image-<%= member.upload.id %>">
				<%= image_tag member.upload.image.url(:medium),
				class: 'img-rounded img-responsive' %>

				<%= link_to upload_path(member.upload),
												method: :delete, remote: true do %>
					<br>
					<%= fa_icon 'minus-square lg', title: 'Delete',
																				 class: 'member_pic_delete delete-job-post pull-right' %>
				<% end if current_member == member.upload.uploadable %>
			</div>
		<% end %>
	<% end %>
	
	<% if @contractor.present? && @contractor != current_member %>
	<div class="text-center" style="margin-top: 10px;">
	    <%= link_to 'Send Message', new_conversation_path(:contractor => @contractor), class: 'btn btn-primary' %>
	</div>
	<% end %>

		<span class="text-center">
			<% if current_member == member %>
				<%= @incomplete_profile_message.html_safe if @incomplete_profile_message.present? %>
			<% end %>
			<%= render 'layouts/member_address', member: member %>
		</span>
	<hr>
	<% if member.reviews.present? %>
		<%= render partial: 'layouts/member_reviews', locals: { member: member } %>
	<% else %>
		<h3 class="text-center lead">
			No reviews <%= member.is_a?(User) ? 'by this member' : 'on this contractor' %>
		</h3>
	<% end %>
	<hr>
		<% if member.is_a?(Contractor) %>
			<div class="text-center">
				<% if @gallery_images_count > 0 %>
					<%= link_to contractor_gallery_path(member), class: 'btn btn-success' do %>
						<%= fa_icon 'paint-brush lg' %> Gallery
					<% end %>
				<% else %>
					<%= member.fullname %> has no gallery yet
				<% end %>
			</div>
			<hr>
		<% end %>
	<% if member.categories.size > 0 %>
		<h4 class="text-center">
			<%= member.contractor? ? 'Services Offered' : 'Services Needed' %>
		</h4>
		<% @cats.each do |cat| %>
      <ul>
      	<h2>
      		<li class="services label label-<%= %w(default primary success info warning danger).sample %>">
            <%= cat %>
          </li>
        </h2>
      </ul>
    <% end %>
	<% end %>
