<% @cats = member.categories %>
	<span class="text-center">
		<%= image_tag member.image(:original), class: 'img-rounded' %>
	</span>

	<% if member.image.processing? %>
		<h4 class="text-center lead">
			Image is processing.<br> Refresh page in a few seconds.
		</h4>
	<% end %>	
	<hr>
	<address class="lead">
		<% if member.try(:company_name) %>
		  <div class="text-center"><strong><%= member.company_name %></strong></div><br>
	  <% end %>
	  <% if member.name.present? %>
		  <%= member.name %><br>
	  <% end %>
	  <% if member.address.present? %>
		  <%= member.address %><br>
	  <% end %>
	  <% if member.city.present? && member.state.present? %>
		  <%= "#{ member.city }, #{ member.state } #{ member.zip_code }" %><br>
	  <% elsif member.city.present? %>
	  	<%= "#{ member.city } #{ member.zip_code }" %><br>
	  <% else %>
	  	<%= member.zip_code %><br>
	  <% end %>
	  <% if member.phone.present? %>
		  <%= member.phone.phony_formatted(normalize: :US, format: :international, spaces: '-') %><br>
	  <% end %>
	  <%= member.email if member.email.present? %><br>
	</address>
	<hr>
	<% if member.categories.size > 0 %>
		<h4 class="text-center">
			<%= member.contractor? ? 'Services Offered' : 'Services Needed' %>
		</h4><br>
		<%# @cats.in_groups_of((@cats.size/2.0).ceil, false).each do |cats| %>
				<% @cats.each do |cat| %>
          <ul>
          	<h2>
          		<li class="services label label-<%= %w(default primary success info warning danger).sample %>">
	              <%= cat %>
	            </li>
	          </h2>
          </ul>
        <% end %>
		<%# end %>				
	<% end %>