<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? "OPENBID - #{ yield(:title) }" : "OPENBID" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Openbid' %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  </head>
  <body>
    <div id="wrap">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <div class="container">
        <%= render 'layouts/ajax_modal' %>
        <%= render 'layouts/messages' %>
        <%#= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <!-- Javascripts -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <%= yield :scripts %>
    <%= javascript_include_tag 'application' %>
    <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
  </body>
</html>
