<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? "OPENBID - #{ yield(:title) }" : "OPENBID" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Openbid' %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <div class="container">
        
        <div class="modal" 
           style="display:none" 
           id="ajax-modal" 
           data-keyboard="false" 
           data-backdrop="false"
           tabindex="-1" 
           role="dialog" 
           aria-labelledby="mySmallModalLabel" 
           aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content" id="modal_content">
              <div id="followingBallsG">
                <div id="followingBallsG_1" class="followingBallsG">
                </div>
                <div id="followingBallsG_2" class="followingBallsG">
                </div>
                <div id="followingBallsG_3" class="followingBallsG">
                </div>
                <div id="followingBallsG_4" class="followingBallsG">
                </div>
              </div> 
            </div>
          </div>
        </div>

        <%= render 'layouts/messages' %>
        <%#= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <!-- Javascripts -->
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <%= yield :scripts %>
  </body>
</html>